<a href="/admin/categorias"><button type="button" class="btn btn-primary btn-lg btn-block">Categorias</button></a>
<a href="/admin/postagens"><button type="button" class="btn btn-secondary btn-lg btn-block mt-2">Postagens</button></a>