<div class="card mt-3">
    <div class="card-body">
        <h3>Categorias: </h3>
        <hr>
        {{#each categorias}}
            <h5><a href="/categorias/{{slug}}">{{nome}}</a></h5><br>
        {{else}}

        {{/each}}
    </div>
</div>